@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@mixin customtable() {
  table-layout: auto;
  width: 100%;
  border-color: #364152;
  border-style: solid;
  border-width: 1px;
  thead {
    background-color: #364152;
    color: white;
    tr {
      th {
        font-size: $size-2xl;
        font-weight: 500;
        padding: 1rem;
        text-align: start;
      }
    }
  }
  tbody {
    font-size: $size-2xl;
    tr {
      .action {
        display: flex;
        column-gap: 1rem;
      }
      td {
        padding: 1rem;
        text-align: start;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-top-width: 0;
        border-left-width: 0;
        border-color: #364152;
        border-style: solid;
        .update {
          background-color: rgb(235, 235, 40);
          @include button();
        }
        .delete {
          background-color: red;
          @include button();
        }
        .subbmit {
          background-color: $primary;
          @include button();
        }
      }
    }
  }
}

@mixin button {
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-weight: 600;
}

@mixin wrapper() {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    row-gap: 2rem;
    .title {
      font-size: 3rem;
      font-weight: 700;
      @include respond(phone) {
        font-size: 2rem;
      }
      text-transform: uppercase;
    }
  }
}

@mixin layoutAdmin() {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    .title {
      width: 100%;
      font-size: $size-2xl;
      h1 {
        font-weight: 500;
      }
    }
    .block {
      width: 100%;
      display: flex;
      h1 {
        font-weight: 500;
        width: 100%;
      }
      .submitUpdate {
        padding: 1rem;
        width: 10%;
        background-color: $primary;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        color: white;
        font-weight: 600;
        cursor: pointer;
        opacity: 100;
        &:disabled {
          cursor: default;
          opacity: 60;
        }
      }
    }
  }
}
