@import "../abstracts/variables";
@import "../abstracts/mixins";

@include respond(phone) {
  .container {
    width: 1000px;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    .header {
      background-color: red;
    }
  }
}
