@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  @include respond(phone) {
    .header {
      background-color: transparent;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      font-size: 3rem;
      color: gray;
    }
    .camera {
      position: relative;
      margin: auto;
      form {
        position: relative;
        .container_button {
          position: absolute;
          width: 5rem;
          height: 5rem;
          left: 50%;
          background-color: transparent;
          border: none;
          bottom: 0;
          transform: translateX(-50%);

          .icon {
            font-size: 5rem;
            color: white;
            border-width: 0.5rem;
            border-radius: 100%;
            border-style: solid;
            border-color: gray;
          }
        }
      }
    }
  }
}

@include respond(tab-port) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .camera {
      position: relative;
      margin: auto;
      .container_button {
        position: absolute;
        width: 5rem;
        height: 5rem;
        display: block;
        background-color: transparent;
        border: none;
        right: 0;
        bottom: 40%;
        transform: translateX(-50%);
        .icon {
          font-size: 5rem;
          color: white;
          border-width: 0.5rem;
          border-radius: 100%;
          border-style: solid;
          border-color: gray;
        }
      }
    }
  }
}

@include respond(tab-land) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .camera {
      position: relative;
      margin: auto;
      .container_button {
        position: absolute;
        width: 5rem;
        height: 5rem;
        display: block;
        background-color: transparent;
        border: none;
        right: 0;
        bottom: 40%;
        transform: translateX(-50%);
        .icon {
          font-size: 5rem;
          color: white;
          border-width: 0.5rem;
          border-radius: 100%;
          border-style: solid;
          border-color: gray;
        }
      }
    }
  }
}
