@import "../abstracts/mixins";
@import "../abstracts/variables";

.wrapper {
  @include layoutAdmin();
  .container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 1rem;
    padding: 4rem;
    .table {
      table-layout: auto;
      width: 100%;
      border-color: #364152;
      border-style: solid;
      border-width: 1px;
      thead {
        background-color: #364152;
        color: white;
        tr {
          th {
            font-size: $size-2xl;
            font-weight: 500;
            padding: 1rem;
            text-align: start;
          }
        }
      }
      tbody {
        font-size: $size-2xl;
        tr {
          td {
            padding: 1rem;
            text-align: start;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-top-width: 0;
            border-left-width: 0;
            border-color: #364152;
            border-style: solid;
            .update {
              background-color: $primary;
              border-radius: 0.5rem;
              text-align: center;
              padding: 1rem;
              color: white;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.text_center {
  text-align: center !important;
}
