@import "../abstracts/mixins";
@import "../abstracts/variables";

.wrapper {
  @include layoutAdmin();
  .container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 1rem;
    padding: 4rem;
    .table {
      @include customtable();
    }
  }
}

.text_center {
  text-align: center !important;
}
