@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  .image {
    margin: auto;
    width: 80%;
    height: 50%;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  .button {
    padding: 1rem;
    background-color: $primary;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    width: 20%;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
  }
}
