@import "../abstracts/mixins";
@import "../abstracts/variables";

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  .container {
    width: 80%;
    margin: auto;
    padding-top: 6%;
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2%;
      .title {
        font-size: 4rem;
      }
    }

    h1 {
      text-transform: uppercase;
    }
    .container_bottom {
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
      .pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 3rem;
        .content {
          width: 16%;
          height: 100%;
        }
      }
      .block {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem 2.5rem;
          border-radius: 0.5rem;
          background-color: $primary;
          font-size: $size-2xl;
          color: white;
          cursor: pointer;
          font-weight: 500;
          width: 12%;
        }
      }
      .table {
        @include customtable();
      }
    }
    .selectDate {
      display: flex;
      column-gap: 2rem;
      align-items: center;
      position: absolute;
      right: 40rem;
      h1 {
        font-size: $size-4xl;
      }
    }
  }
}
.text-start {
  text-align: start;
}
.inputDate {
  background-color: $primary;
  padding: 1.5rem;
  color: white;
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  &::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
}
