@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.base {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  font-weight: 600;
  border: 1px solid $primary;
  color: $primary;
}

.active {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: $primary;
}
