@import "../abstracts/mixins";
@import "../abstracts/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
  .block {
    height: 10rem;
    width: 100%;
  }
}
