* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
  @include respond(phone) {
    font-size: 56.25%;
  }
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

// body {
// }

img {
  width: auto;
  display: block;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
